.recipe-title {
  font-size: 3rem;
  color: #333;
  text-align: center;
  margin-bottom: 1rem;
  position: relative;
}

.recipe-title::after {
  content: '';
  display: block;
  width: 30%;
  height: 0.2rem;
  background: linear-gradient(to right, #FCC419, #ffbf00);
  position: relative;
  bottom: 0;
  left: 50%; 
  transform: translateX(-50%); 
}

.recipe-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  padding: 20px; 
}

.recipe-item {
  min-height: 15rem;
  border-radius: 1rem;
  overflow: hidden;
  position: relative;
  transition: transform 0.3s ease-in-out;
  margin: 0 20px 20px 0;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 300px;
}

.recipe-item:hover {
  transform: scale(1.05);
}

.recipe-image {
  position: relative;
  overflow: hidden;
  height: 15rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.recipe-image {
  max-width: 100%;
  max-height: 100%;
  width: 100%; 
  object-fit: cover;
}

.text-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

.time-servings-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.recipe-description {
  color: #333;
  font-size: 1.3rem;
  margin-bottom: 1rem;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

.recipe-container {
  text-align: center;
}

.no-recipes-message {
  color: #555; 
  font-size: 1.2rem;
  margin-top: 20px; 
}

.recipe-button-container {
  background: linear-gradient(to right, #fcc31980, #ffbf00ab);
  border: none;
  border-radius: 5px;
  color: #000;
  padding: 0.5rem 1rem;
  cursor: pointer;
  transition: background 0.3s ease-in-out;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
}

.recipe-details-button:hover {
  background-color: #e6e6e6;
}

.button-container:hover {
  background: linear-gradient(to right, #fcc319, #ffbf00);
}

.recipe-actions {
  position: absolute;
  top: 8px; 
  right: 8px; 
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  z-index: 1; 
}

.delete-button,
.modify-button {
  background-color: rgba(0, 0, 0, 0.53); 
  color: #fff; 
  padding: 8px 12px; 
  border: none;
  border-radius: 50%;
  cursor: pointer;
  margin-bottom: 8px;
}

.delete-button:hover,
.modify-button:hover {
  background-color: #070707; 
}

.delete-button:active,
.modify-button:active {
  background-color: #b52b27; 
}

.delete-button img,
.modify-button img {
  width: 30px; 
  height: 30px;
}

.back-button {
  padding: 1rem 2rem;
  color: #313131;
  background: white;
  border: 2px solid black;
  margin-right: 2rem;
  font-weight: 600;
  cursor: pointer;
}

.back-button:hover {
  background-color: #e6e6e6;
}

.back-button::before {
  margin-right: 5px; 
}
