.recipe-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.recipe-item {
  position: relative;
  flex: 0 0 calc(30% - 20px);
  display: flex;
  flex-direction: column;
  text-decoration: none;
  border: 1px solid #ccc;
  border-radius: 8px;
  overflow: hidden;
  margin: 10px;
  transition: transform 0.2s ease-in-out;

  &:hover {
    transform: scale(1.05);
  }
}

.recipe-link {
  text-decoration: none;
  color: inherit;
}

.recipe-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-bottom: 1px solid #ccc;
}

.recipe-info {
  padding: 10px;
}

.recipe-name {
  font-size: 1.2em;
  margin-bottom: 5px;
}

.recipe-description {
  margin-bottom: 5px;
}

.delete-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: #ff3333;
  color: #fff;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 4px;
}
