.recipe-title {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    color: #333333;
    margin-bottom: 20px;
  }
  
.recipe-container {
    width: 100%;
    font-family: 'Josefin Sans', sans-serif;
    flex-direction: column;
    align-items: center;
    background-color: #ffffff;
  }
  
  
  .recipe-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
  }
  
  .recipe-item {
    background-color: #ffffff;
    width: 100%;
    max-width: 300px;
    height: auto;
    margin: 20px;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0px 10px 12px rgba(0, 0, 0, 0.1);
    transition: 0.3s ease-in-out;
    position: relative;
  }
  
  .recipe-image {
    width: 100%;
    height: 30%;
  }
  
  .recipe-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .recipe-item:hover {
    box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.1);
  }
  
  .icon {
    display: inline-block;
    margin: 0 5px;
  }
  
  .icon-container {
    display: flex;
    align-items: center;
  }
  
  .vertical-line {
    width: 1px;
    height: 10%;
    background-color: #555;
    margin: 0 5%;
  }
  
  @media (max-width: 768px) {
    .recipe-list {
      flex-direction: column;
    }
  
    .recipe-item {
      max-width: 50%;
      margin: 20px 0;
    }
    
  }
  