.recipe-form-container {
  max-width: 1000px;
  top: 20px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  position: relative;
}

.recipe-form-container h2 {
  color: #333;
  text-align: center; 
}

.recipe-form-container p {
  color: #555;
}

.recipe-form-container ul {
  list-style-type: none;
  padding: 0;
}

.recipe-form-container li {
  margin-bottom: 5px;
}

.recipe-form-container label {
  margin-bottom: 15px;
  margin-left: 5px;
  font-weight: bold;
  position: relative;
}

.recipe-form-container input,
.recipe-form-container textarea {
  width: 150px;
  position: relative;
  padding: 8px;
  margin-bottom: 10px;
  margin-left: 5px;
  margin-top: 8px;
  border: 1px solid #dfdfdf;
  border-radius: 4px;
  box-sizing: border-box;
  display: inline-block;
}

.recipe-form-container button {
  background-color: #ffc342;
  margin-left: 5px;
  margin-bottom: 10px;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  display: inline-block;
}

.recipe-form-container button:hover {
  background-color: #e69d00;
}

.recipe-form-container img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
  margin-top: 20px;
}

test {
  margin-left: 20px;
  display: inline-block;
  position: relative;
}

box {
  background: rgb(51, 51, 51);
  position: relative;
  display: block;
  width: 995px;
  height: 8px;
}

.recipe-form-container text_border {
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 13px;
  position: relative;
  top: 20px;
}

.container2 {
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 4px;
  margin-bottom: 10px;
  position: relative;
  top: 30px;
}

.container3 {
  border: 1px solid #ffffff;
  border-radius: 4px;
  margin-top: 10px;

}