.recipe-form-container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.recipe-form-container h2 {
  color: #333;
  text-align: center; /* Center the heading */
}

.recipe-form-container p {
  color: #555;
}

.recipe-form-container ul {
  list-style-type: none;
  padding: 0;
}

.recipe-form-container li {
  margin-bottom: 8px;
}

.recipe-form-container label {
  display: block;
  margin-bottom: 8px;
  font-weight: bold;
}

.recipe-form-container input,
.recipe-form-container textarea {
  width: 100%;
  padding: 8px;
  margin-bottom: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.recipe-form-container button {
  background-color: #4caf50;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.recipe-form-container button:hover {
  background-color: #45a049;
}

.recipe-form-container img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
  margin-top: 20px;
}
