.footer {
    background-color: rgb(231, 231, 231);
    color: #000000;
    padding: 10px;
    text-align: center;
    margin-top: 40px; 
  }
  
  .footer p {
    margin: 0;
  }
  
  .footer a{
    font-size: 16px;
    color: #000000;
  }

  