@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600&display=swap');

#main {
width: 100%;
height: 60vh;
position: relative;
background-repeat: no-repeat;
background-position: center;
background-size: cover;
background-image: url('../Assets/images/home/background.png');
color: #fff;
text-align: center;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
}

.name {
font-family: 'Montserrat';
width: 1500px;
position: absolute;
left: 50%;
top: 50%;
transform: translate(-50%, -50%);
}

.name span {
color: #ffffff;
}

.name, .details {
    color: #ffffff;
    text-align: center; 
}

.name h1 {
font-family: 'Montserrat';
font-size: 2.8rem;
margin: 0;
color: #000000;
text-align: center; 
}

.header-btns {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
 }
  
 .cv-btn {
    width: 200px;
    height: 50px;
    background-color: #FCC419;
    border: none;
    border-radius: 10px;
    color: #000000;
    margin: 50px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s ease-in-out;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none; 
    cursor: pointer; 
}

.cv-btn:hover {
    background-color: #d8d8d8;
    transition: all ease 0.5s;
}

.f-heading h1{
    color:#ffffff;
    font-size: 3rem;
    margin: 0px;
    padding: 0px;

}
.f-heading p{
    color:#f7f7f7ad;
    font-size: 1rem;
    margin: 0px;
    padding: 0px;
}
.f-heading{
    text-align: center;
    margin-top: 60px;
    margin-bottom: -80px;
}